* {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #a69c00;
}
body {
    font-size: 12px;
}
.header {
    height: 79px;
    border-bottom: 1px dashed #b9b7b7;
}
.header .head {
    height: 80px;
    margin: 0 auto;
    width: 981px;
}
.header .head .logo {
    width: 144px;
    height: 52px;
    padding: 14px 0;
    float: left;
}
.header .head ul {
    float: right;
    position: relative;
}
.header .head ul li {
    float: left;
    padding: 46px 26px 18px;
}
.header .head ul li:hover {
    background: #007cc3;
}
.header .head ul li:hover a {
    color: #fff;
}
.header .head ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 700px;
}
.header .head ul .li-1 {
    background: #007cc3;
}
.header .head ul .icon {
    width: 0;
    border: 5px solid transparent;
    border-top-color: #007cc3;
    position: absolute;
    left: 35px;
    bottom: -10px;
}
.banner {
    margin: 15px auto 0;
    width: 981px;
    height: 510px;
}
.banner .banner_l {
    width: 493px;
    height: 495px;
    float: left;
    position: relative;
}
.banner .banner_l .logo img {
    width: 100%;
    height: 100%;
}
.banner .banner_l .logo {
    width: 135px;
    height: 179px;
    position: absolute;
    left: 174px;
    top: 158px;
    animation-name: myfirst;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Firefox: */
    
    -moz-animation-name: myfirst;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    /* Safari and Chrome: */
    
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Opera: */
    
    -o-animation-name: myfirst;
    -o-animation-duration: 3s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
}
@keyframes myfirst {
    0% {
        width: 135px;
        height: 179px;
    }
    25% {
        width: 145px;
        height: 189px;
    }
    50% {
        width: 155px;
        height: 199px;
    }
    75% {
        width: 165px;
        height: 209px;
    }
    100% {
        width: 195px;
        height: 239px;
    }
}
@-moz-keyframes myfirst
/* Firefox */

{
    0% {
        width: 135px;
        height: 179px;
    }
    25% {
        width: 145px;
        height: 189px;
    }
    50% {
        width: 155px;
        height: 199px;
    }
    75% {
        width: 165px;
        height: 209px;
    }
    100% {
        width: 195px;
        height: 239px;
    }
}
@-webkit-keyframes myfirst
/* Safari and Chrome */

{
    0% {
        width: 135px;
        height: 179px;
    }
    25% {
        width: 145px;
        height: 189px;
    }
    50% {
        width: 155px;
        height: 199px;
    }
    75% {
        width: 165px;
        height: 209px;
    }
    100% {
        width: 195px;
        height: 239px;
    }
}
@-o-keyframes myfirst
/* Opera */

{
    0% {
        width: 135px;
        height: 179px;
    }
    25% {
        width: 145px;
        height: 189px;
    }
    50% {
        width: 155px;
        height: 199px;
    }
    75% {
        width: 165px;
        height: 209px;
    }
    100% {
        width: 195px;
        height: 239px;
    }
}
.banner .banner_r {
    width: 478px;
    height: 495px;
    float: left;
}
.banner .banner_r li {
    height: 165px;
    width: 478px;
    position: relative;
}
.banner .banner_r li .title {
    width: 110px;
    height: 42px;
    position: absolute;
    left: 30px;
    top: 38px;
    overflow: hidden;
    background: url(../img/title.png) no-repeat;
}
.banner .banner_r li .title a {
    width: 110px;
    height: 42px;
}
.banner .banner_r li .icon1 {
    background-position: 0 0;
}
.banner .banner_r li .icon2 {
    background-position: 0 -53px;
}
.banner .banner_r li .icon3 {
    background-position: 0 -113px;
}
.conent {
    background: url(../img/body.png) no-repeat;
    background-size: 100% 1172px;
    height: 1172px;
}
.conent .main {
    width: 981px;
    height: 1172px;
    margin: 0 auto;
    overflow: hidden;
}
.conent .main .main_1 {
    width: 1098px;
    height: 880px;
    margin-top: 15px;
    display: block;
    position: relative;
    left: -56px;
}
.conent .main .main_1 li {
    float: left;
    width: 254px;
    display: block;
    background: #fff;
    height: 382px;
    margin: 0 56px 60px;
}
.conent .main .main_1 li .img {
    margin: 20px auto;
    width: 204px;
    height: 290px;
}
.conent .main .main_1 li .info {
    text-align: center;
    height: 40px;
    letter-spacing: 2px;
}
.conent .main .main_1 li .info a {
    color: #000;
    font-weight: 400;
    font-size: 12px;
}
.conent .main .main_1 li .info a:hover {
    color: #a69c00;
}
.conent .main .partner {
    clear: both;
    width: 981px;
    height: 152px;
}
.conent .main .partner h3 {
    display: block;
    margin: 0 auto 20px;
    width: 84px;
    height: 30px;
    background: url(../img/icon4.png) no-repeat;
}
.conent .main .partner li {
    float: left;
}
.conent .main .partner li img {
    width: 100%;
    height: 100%;
}
.conent .main .partner .item_1 {
    width: 165px;
    height: 100px;
    margin-right: 6px;
    float: left;
}
.conent .main .partner .item_2 {
    width: 142px;
    height: 100px;
    margin-right: 6px;
    float: left;
}
.conent .main .partner .item_3 {
    width: 276px;
    height: 100px;
    margin-right: 6px;
    float: left;
}
.conent .main .partner .item_4 {
    width: 182px;
    height: 100px;
    margin-right: 6px;
    float: left;
}
.conent .main .partner .item_5 {
    width: 192px;
    height: 100px;
    float: left;
}
.footer {
    height: 103px;
    border-top: 1px dashed #258fcc;
}
.footer .info {
    width: 981px;
    height: 34px;
    margin: 0 auto;
    padding: 35px 0;
    text-align: center;
}
.footer .info p {
    font-size: 12px;
    line-height: 20px;
}
