* {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #a69c00;
}
body {
  font-size: 12px;
}
.header {
  height: 80px;
}
.header .head {
  height: 80px;
  margin: 0 auto;
  width: 984px;
}
.header .head .logo {
  width: 144px;
  height: 52px;
  padding: 14px 0;
  float: left;
}
.header .head ul {
  float: right;
  position: relative;
}
.header .head ul li {
  float: left;
  padding: 46px 26px 18px;
}
.header .head ul li:hover {
  background: #007cc3;
}
.header .head ul li:hover a {
  color: #fff;
}
.header .head ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 700px;
}
.header .head ul .li-1 {
  background: #007cc3;
}
.header .head ul .icon {
  width: 0;
  border: 5px solid transparent;
  border-top-color: #007cc3;
  position: absolute;
  left: 35px;
  bottom: -10px;
}
.img {
  height: 370px;
}
.img img {
  height: 100%;
  width: 100%;
}
.nav {
  width: 984px;
  height: 110px;
  margin: 51px auto;
  background: url(../img/dl1.png) no-repeat;
}
.nav li {
  float: left;
  margin-top: 80px;
  width: 123px;
  text-align: center;
}
.nav li a {
  font-size: 16px;
  color: #d36818;
}
.nav li a:hover {
  color: #a69c00;
}
.conent {
  background: url(../img/body1.png) no-repeat;
  height: 1282px;
  background-size: 100% 1332px;
}
.conent .main {
  margin: 0 auto;
  width: 984px;
  position: relative;
}
.conent .main .title {
  position: absolute;
  top: -12px;
  left: 0;
}
.conent .main h3 {
  font-size: 24px;
  padding-top: 30px;
}
.conent .main h3 span {
  font-size: 12px;
  color: #cf6419;
  padding-left: 5px;
  position: relative;
  bottom: -2px;
}
.conent .main .item {
  width: 984px;
  margin-top: 20px;
}
.conent .main .item .new_title {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px dashed #909090;
}
.conent .main .item .new_title h4 {
  font-size: 14px;
  color: #cf6419;
  line-height: 20px;
}
.conent .main .item .new_title .time {
  line-height: 20px;
}
.conent .main .item .new_title .time span {
  color: #9d9d9d;
}
.conent .main .item .new_img {
  padding: 40px 125px 20px;
  width: 734px;
  height: 480px;
}
.conent .main .item .new_img img {
  width: 100%;
  height: 100%;
}
.conent .main .item p {
  text-indent: 20px;
  line-height: 20px;
}
.footer {
  height: 105px;
  background: #cf6419;
}
.footer .info {
  width: 981px;
  height: 34px;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}
.footer .info p {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.footer .info p a {
  color: #fff;
}
.footer .info p a:hover {
  color: #a69c00;
}
